/** General **/
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}
:-ms-input-placeholder {  
   text-align: center; 
}

/** Navigation **/
nav .container{
  padding:10px 0px;
}

/** Header **/
header.masthead .header-content .header-content-inner p {
  color:#fff;
  font-size: 22px;
}

/** PreRegister **/
.form-input-text {
  padding: 15px;
  border: none;
  border-radius: 26px;
  margin-bottom: 20px;
}
