/** General **/
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}
:-ms-input-placeholder {  
   text-align: center; 
}
input { 
    text-align: center; 
}
.bg-blue {
    background-color: #2c3e4c;
}

/** Navigation **/
nav .container{
  padding:10px 0px;
}

/** Header **/
header.masthead .header-content .header-content-inner p {
  color:#fff;
  font-size: 22px;
}

/** PreRegister **/
.form-input-text {
  padding: 15px;
  border: none;
  border-radius: 26px;
  margin-bottom: 20px;
}


/** Pricing **/
#pricing {
  background-color: #eeeeee;
}
#pricing .card{
  margin-bottom:20px;
}
#pricing p.price {
  font-size:72px;
  line-height: 1.25;
  margin-bottom: 0px;
}
#pricing p.price small{
  font-size:25%;
}
#pricing .cnc-starter .card-header,
#pricing .cnc-starter .card-link {
  background-color: #11a9c1;
}
#pricing .cnc-basic .card-header, 
#pricing .cnc-basic .card-link {
  background-color: #2c3e4c;
}

#pricing .cnc-enterprize .card-link {
  background-color: #333333;
}
